Repository nihalgonsalves/node-typescript-eslint-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint_prettier, prettier

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    eslint_prettier:
      glob: "*.{js,ts,jsx,tsx,cjs,cts,mjs,mts}"
      run: node_modules/.bin/eslint --fix {staged_files} && node_modules/.bin/prettier --write {staged_files}
      stage_fixed: true

    prettier:
      glob: "*.{html,json,yaml,yml}"
      run: node_modules/.bin/prettier --write {staged_files}
      stage_fixed: true

style: prettier
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  lefthook.yml
  src/index.ts
  tsconfig.json
Due: eslint_prettier, prettier

fix: use ESM
  .vscode/settings.json
  package.json
  tsconfig.json
Due: prettier

style: prettier format
  .devcontainer/devcontainer.json
  tsconfig.json
Due: prettier

chore(deps): update all, exclude eslint v9
  .github/dependabot.yml
  package.json
  yarn.lock
Due: prettier

chore: upgrade eslint v9
  .github/dependabot.yml
  .prettierrc
  eslint.config.js
  package.json
  src/index.ts
  tsconfig.json
  yarn.lock
Due: eslint_prettier, prettier

chore: set dependabot schedule to monthly
  .github/dependabot.yml
Due: prettier

chore: use node 22 LTS
  .github/workflows/build.yml
  README.md
  package.json
  yarn.lock
Due: prettier

chore: use node 22 LTS (#496)
  .github/workflows/build.yml
  README.md
  package.json
  yarn.lock
Due: prettier

chore: also use node 22 in docker
  Dockerfile
Due: none

chore: also use node 22 in docker (#497)
  Dockerfile
Due: none
